.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}
.App-head {
  padding: 10px;
  width: 100%;
}
.App-header {
  display: flex;
}
.table {
  background-color: rgb(185, 159, 223);
}

.App-header > .list {
  padding: 10px;
}
.App-header > .Table {
  width: 100%;
  padding: 10px;
}
