*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    
}
.head{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(56, 52, 85);
}
.discription{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}
.disp{
    
    margin-top: 10%;
    position: fixed;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: rgb(56, 52, 85);
    padding: 50px;
    box-Shadow:0 2px 5px #ccc;
    border-radius: 30px;
}
.btn{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    color:  rgb(56, 52, 85);
    border: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
